/* @import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root {
    --bg: #ffffff;
    --text: #000;
    --textAlt: #fff;
    --focus: rgb(30, 105, 151);

    --phaseTitle: rgb(41, 97, 200);
    --joinScrBg: #4aace9;

    --bigBtnBg: #065e99;
    --bigBtnText: #daeeffff;
    --bigBtnBorder: rgb(4, 28, 43);
    --bigBtnBgH: rgb(33, 112, 165);
    --bigBtnBgA: rgb(16, 56, 83);
    --playerReady: green;
    --playerNotReady: red;

    --greyText: #555;
    --greyBorder: #aaa;

    --boxBg: #fff;
    --boxShadow: rgba(0, 0, 0, 1);
    --boxShadowSemiweak: rgba(0, 0, 0, 0.75);
    --boxShadowWeak: rgba(0, 0, 0, 0.5);

    --gameBg: #fff;
    --gameBgAlt: #eee;
    --gameTalking: #1f4e7a;
    --gameVoting: #6c41a3;
    --gameEvaluating: #2d5020;
    --gameRoundStats: #000000;

    --inactivePlayerDot: rgb(227, 230, 238);
    --activePlayerDot1: rgb(75, 105, 240);
    --activePlayerDot2: rgb(150, 186, 240);
    
    --gvtBtnBorder: #837f88;
    --gvtBtnBg: #A393AD22;
    --gvtBtnFocusShadow: #837f88;
    --gvtBtnBgH: #A393AD44;
    --gvtBtnBgA: #A393ADAA;
    --gvtBtnBorderVoted: #2b292e;
    --gvtBtnBgVoted: #A393ADDD;
    --gvtBtnBgVotedH: #644e7ed8;
    --gvtBtnBgVotedA: #644e7eee;
    
    --playerName: royalblue;
    --imposterName: orangered;
    --correctGuess: #237e53;
    --incorrectGuess: #a13711;
    
    --notiInfo: rgb(40, 73, 124);
    --notiInfoBorder: rgb(24, 42, 70);
    --notiError: rgb(124, 40, 40);
    --notiErrorBorder: rgb(41, 14, 14);
    
    --endScrBg: #424242;
    --rankingBorder: black;
    --ranking1: #b08f3f;
    --ranking2: #a26e49;
    --ranking3: #685a48;
    --rankingLow: rgb(94, 94, 94);
  }

* {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', 'Source Sans Pro', sans-serif;
    font-size: 104%;
    user-select: none;
    font-weight: 400;
}

*:focus {
    outline: none;
}

button {
    cursor: pointer;
    border-width: 0;
}

.hidden {
    display: none;
}

.screen {
    position: fixed;
    height: 100%;
    width: 100%;
}

#joinScr {
    background-color: var(--bg);
    /* overflow: auto; controlled be script.js joinSuccessful()*/
}

#joinScrTopBox{
    position: sticky;
    top: 0;
    background-color: var(--joinScrBg);
    color: var(--text);
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    transition: .5s;
}

#joinGameForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#joinFormButton {
    padding: 1.5em;
    margin: 2em;
    padding-left: 2.6em;
    padding-right: 2.6em;
    background-color: var(--bigBtnBg);
    color: var(--bigBtnText);
    cursor: pointer;
    border: 1px solid var(--bigBtnBorder);
    border-radius: 4em;
}

#joinFormButton:hover {
    background-color: var(--bigBtnBgH);
}

#joinFormButton:active {
    background-color: var(--bigBtnBgA);
    padding-top: 1.6em;
    padding-bottom: 1.4em;
}

#joinFormButton:focus {
    box-shadow: 0em 0em 0em .14em var(--focus);
}

#joinFormName {
    max-width: 90vw;
    width: 25em;
    border: 1px solid var(--bigBtnBorder);
    user-select: auto;
    line-height: 2.4em;
    border-radius: 2em;
    padding-left: .6em;
    padding-right: .6em;
}

#joinFormName:focus {
    box-shadow: 0em 0em 0em .14em var(--focus);
}

#startGameTopBox > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startReady {
    padding: 1.5em;
    background-color: var(--bigBtnBg);
    color: var(--bigBtnText);
    cursor: pointer;
    border: 1px solid var(--bigBtnBorder);
    border-radius: 4em;
}

#startReady:hover {
    background-color: var(--bigBtnBgH);
}

#startReady:active {
    background-color: var(--bigBtnBgA);
    padding-top: 1.6em;
    padding-bottom: 1.4em;
}

#startReady:focus {
    box-shadow: 0em 0em 0em .14em var(--focus);
}

#startProportion {
    color: var(--textAlt);
    margin-top: .2em;
}

#startPlayersList > div{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startPlayersList > div > *{
    max-width: 20em;
    width: 95vw;
}

.startReadyCaption {
    font-size: 1em;
    color: var(--greyText);
    border-bottom: 1px solid var(--greyBorder);
    max-width: 20em;
    width: 95vw;
}

.startReadyPlayer {
    /*border: 1px solid rgb(49, 161, 49);*/
    padding: .2em;
    margin-bottom: .4em;
    display: flex;
    align-items: center;
}

.startReadyPlayer > div {
    height: .6em;
    width: .6em;
    display: inline-block;
    border-radius: .3em;
    background-color: var(--playerReady);
    margin: .3em;
}

.startNotReadyPlayer {
    /*border: 1px solid rgb(199, 187, 187);*/
    padding: .2em;
    margin-bottom: .4em;
    display: flex;
    align-items: center;
}

.startNotReadyPlayer > div {
    height: .6em;
    width: .6em;
    display: inline-block;
    border-radius: .3em;
    background-color: var(--playerNotReady);
    margin: .3em;
}

#gameScr {
    background-color: var(--gameBg);
}

#gameScr > div {
    display: grid;
    grid-template-columns: 50vw auto;
    height: 100%;
    align-content: initial;
}

#gameInfoBox {
    grid-column: 1;
    grid-row: 1/100;
    /* background-color: #1f4e7aff; controlled be js*/
    color: var(--textAlt);
    display: grid;
    grid-template-rows: 1.3em auto;
    transition: 1.6s;
}

#gameRightBox {
    grid-column: 2;
    grid-row: 1/100;
    display: grid;
    place-items: center;
    overflow: auto;
}

#gameRoundCounter {
    float: left;
    margin: .1em;
    opacity: .7;
}

#gameRemainingTimeDisplay {
    float: right;
    margin: .1em;
    opacity: .7;
}

#gameStateDisplay {
    transform: translateY(-.5em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gameStateTitle {
    font-size: 3em;
    line-height: 1.1em;
}

#gameStateSubtitle {
    font-size: 1.4em;
}

#gamePlayersBox > div.gamePlayerBoxTitle {
    max-width: 20em;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1em;
    color: var(--greyText);
    border-bottom: 1px solid var(--greyBorder);
    width: 95vw;
    padding: .5em;
}

#gamePlayersBox > div.gamePlayerBoxGrid {
    display: grid;
    grid-template-columns: auto;
    gap: .2em;
    max-width: 20em;
    margin: 0 auto;
    padding: .5em;
}

#gamePlayersBox > div > div {
    padding: .3em;
    padding-left: 1.5em;
    position: relative;
}

#gamePlayersBox > div > div::before {
    content: "";
    background-color: var(--inactivePlayerDot);
    border-radius: 100%;
    height: .5em;
    width: .5em;
    position: absolute;
    margin-top: .5em;
    transform: translateX(-.8em);
}

#gamePlayersBox > div > div.gamePlayerActive {
    padding: .3em;
    padding-left: 1.5em;
    text-shadow: rgb(132 185 255) 0px 0 4px;
}

#gamePlayersBox > div > div.gamePlayerActive::before {
    content: "";
    background-color: var(--activePlayerDot1);
    border-radius: 100%;
    height: .5em;
    width: .5em;
    position: absolute;
    margin-top: .5em;
    transform: translateX(-.8em);
    animation-name: blinkPlayer;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes blinkPlayer {
    0%{
        background-color: var(--activePlayerDot1);
    }
    100% {
        background-color: var(--activePlayerDot2);
    }
}

#gameVoteImposterBox > button {
    display: block;
    margin: 0 auto;
    margin-bottom: .8em;
    width: 90vw;
    max-width: 20em;
    padding: .5em;
    border-color: #837f88;
    border-radius: .5em;
    background-color: #A393AD22;
    word-wrap: break-word;    
    opacity: 0;
    animation-name: appearAni;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: calc(var(--ani-order) * 140ms + 400ms);
}
#gameVoteImposterBox > button:hover {
    background-color: #A393AD44;
}
#gameVoteImposterBox > button:focus {
    box-shadow: 0em 0em 0em .1em #837f88;
}
#gameVoteImposterBox > button:active {
    background-color: #A393ADAA;
    padding-top: .6em;
    padding-bottom: .4em;
}
#gameVoteImposterBox > button.voted {
    border-color: #2b292e;
    background-color: #644e7eDD;
    color: var(--textAlt);
}
#gameVoteImposterBox > button.voted:hover {
    background-color: #644e7ed8;
}
#gameVoteImposterBox > button.voted:active {
    background-color: #644e7eEE;
}

#gameVoteCorrectnesBox {
    padding-bottom: 10px;
    width: 100%;
    max-width: 33em;
}
.gvcImposter {
    margin: 0 auto;
    margin-bottom: 1em;
    box-shadow: 0px 0px 3px 0px var(--boxShadowWeak);
    background-color: var(--boxBg);
    border-radius: .4em;
    padding: .5em;
    opacity: 0;
    animation-name: appearAni;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: calc(var(--ani-order) * 15ms + 500ms);
}
@keyframes appearAni {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.gvcImposter > div {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 0em;
    margin-top: .2em;
}

.gameGreyLineTitle {
    margin: 0 auto;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    color: var(--greyText);
    border-bottom: 1px solid var(--greyBorder);
}

.evb {
    padding: 3px;
    border-radius: 0em;
}
.evb:first-child {
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
}
.evb:last-child {
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
}
.evb > span {
    font-size: .7em;
    line-height: 1em;
    display: block; 
    margin-bottom: .3em;
}
.evb:focus {
    box-shadow: none;
}
.evb:active {
    padding-top: 6px;
    padding-bottom: 0px;
}

.evb1 {
    background-color: rgb(76, 97, 61);
    color: var(--textAlt);
    border-color: rgb(0, 0, 0);
}
.evb1:hover {
    background-color: rgb(96, 122, 77);
}
.evb1:active {
    background-color: rgb(44, 58, 34);
}

.evb2 {
    background-color: rgb(96, 112, 78);
    color: var(--textAlt);
    border-color: rgb(0, 0, 0);
}
.evb2:hover {
    background-color: rgb(117, 136, 94);
}
.evb2:active {
    background-color: rgb(68, 80, 55);
}

.evb3 {
    background-color: rgb(119, 122, 78);
    color: var(--textAlt);
    border-color: rgb(0, 0, 0);
}
.evb3:hover {
    background-color: rgb(141, 145, 98);
}
.evb3:active {
    background-color: rgb(63, 65, 42);
}

.evb4 {
    background-color: rgb(134, 108, 64);
    color: var(--textAlt);
    border-color: rgb(0, 0, 0);
}
.evb4:hover {
    background-color: rgb(167, 138, 89);
}
.evb4:active {
    background-color: rgb(66, 57, 40);
}

.evb5 {
    background-color: rgb(117, 70, 70);
    color: var(--textAlt);
    border-color: rgb(0, 0, 0);
}
.evb5:hover {
    background-color: rgb(156, 97, 97);
}
.evb5:active {
    background-color: rgb(49, 31, 31);
}

.evbselected {
    background-color: #efdf00;
    color: black;
    box-shadow: 0px 0px 10px 0px #dc0;
}
.evbselected:focus {
    box-shadow: 0px 0px 10px 0px #dc0;
}
.evbselected > span {
    color: #111;
}
.evbselected:hover {
    background-color: #ffee00;
}
.evbselected:active {
    background-color: #cec000;
}

#gameRoundStatsBox {
    padding-bottom: 10px;
    max-width: 40em;
}

#gameRoundStatsBox > div {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 30em;
    margin: 0 auto;
}

.grspTop{
    padding-left: .2em;
    padding-right: .4em;
    background-color: var(--boxBg);
    box-shadow: 0px 0px 3px 0px var(--boxShadowWeak);
    margin-top: 10px;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    padding: .4em;
    padding-right: 1em;
    z-index: 1;
}

.grspLeft {
    box-shadow: 0px 0px 3px 0px var(--boxShadowWeak);
    background-color: var(--boxBg);
    margin-top: 10px;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    padding: .4em;
}

.grspName {
    font-size: 1.5em;
    color: var(--textAlt);
    display: flex;
}

.grspName > * {
    margin-top: auto;
    color: royalblue;
}

.grspNameImp {
    font-size: 1.5em;
    color: var(--textAlt);
    display: flex;
}

.grspNameImp > * {
    margin-top: auto;
    color: orangered;
}

.grspPoints {
    font-size: .8em;
    display: flex;
    /* flex-direction: row-reverse; */
}

.grspTitle {
    font-size: 1em;
    display: inline-block;
    margin-left: .2em;
}

.grspTitle > span {
    font-size: .9em;
}

ul.grspPlayersList {
    list-style-type: none;
    display: inline-block;
}

ul.grspPlayersList > li {
    display: inline-block;
    font-size: .9em;
}

.grspCorrect {
    margin: 1px;
    background-color: #237e53;
    color: var(--textAlt);
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid var(--boxShadowSemiweak);
}

.grspCorrect > span {
    font-size: .8em;
}

.grspIncorrect{
    margin: 1px;
    background-color: #a13711;
    color: var(--textAlt);
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid var(--boxShadowSemiweak);
}

.grspIncorrect > span {
    font-size: .8em;
}

ul.grspScoreboard {
    list-style-type: none;
    display: inline-block;
}

ul.grspScoreboard > li {
    display: inline-block;
    font-size: .9em;
}

.grspGold {
    margin: 1px;
    background-color: #b3edbd;
    color: #000;
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid var(--boxShadowSemiweak);
}

.grspGold > span {
    font-size: .8em;
}

.grspSilver {
    margin: 1px;
    background-color: #c4fece;
    color: #000;
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid var(--boxShadowSemiweak);
}

.grspSilver > span {
    font-size: .8em;
}

.grspBronze {
    margin: 1px;
    background-color: #FFFDBF;
    color: #000;
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid var(--boxShadowSemiweak);
}

.grspBronze > span {
    font-size: .8em;
}

.grsp4th {
    margin: 1px;
    background-color: #FFDBAD;
    color: #000;
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid var(--boxShadowSemiweak);
}

.grsp4th > span {
    font-size: .8em;
}

.grsp5th {
    margin: 1px;
    background-color: #FFA9AA;
    color: #000;
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid var(--boxShadowSemiweak);
}

.grsp5th > span {
    font-size: .8em;
    /*color: #d82c19;*/
}

#endScr {
    background-color: var(--endScrBg);
    color: var(--textAlt);
    overflow: auto;
}
#esTitle {
    margin: .4em;
    font-size: 2.8em;
    text-align: center;
    line-height: 1.1em;
}
#esAgain {
    display: block;
    padding: .5em;
    background-color: var(--bigBtnBg);
    color: var(--bigBtnText);
    cursor: pointer;
    border: 1px solid var(--bigBtnBorder);
    border-radius: 2em;
    text-align: center;
    margin: 0 auto;
    width: max-content;
    margin-bottom: 1em;
    margin-top: -.3em;
}
#esAgain:hover {
    background-color: var(--bigBtnBgH);
}
#esAgain:active {
    background-color: var(--bigBtnBgA);
    padding-top: .6em;
    padding-bottom: .4em;
}
#esGrid {
    margin: 0 auto;
    width: 40em;
    max-width: 100vw; 
}
#esPodium {
    display: grid;
    grid-template-columns: 35% 33% 32%;
}
.esTop {
    position: relative;
    margin: .25em;
    border: 1px solid var(--rankingBorder);
    border-radius: .4em;
    padding-left: .3em;
    padding-right: .3em;
    opacity: 0;
    animation-name: appearAni;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: calc(var(--ani-order) * 150ms + 100ms);
}
.esTop > div:first-child {
    position: absolute;
    right: 4px;
    bottom: 4px;
    opacity: .5;
    font-size: .9em;
}
.esTop > div:last-child > span:first-child {
    display: block;
    font-size: 1.3em;
}
#es1 {
    background-color: var(--ranking1);
}
#es2 {
    background-color: var(--ranking2);
}
#es3 {
    background-color: var(--ranking3);
}
#esRanking {
    display: grid;
}
#esRanking > div {
    position: relative;
    margin: .25em;
    background-color: var(--rankingLow);
    border: 1px solid var(--rankingBorder);
    border-radius: .4em;
    padding-left: .3em;
    padding-right: .3em;
    opacity: 0;
    animation-name: appearAni;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: calc(var(--ani-order) * 75ms + 500ms);
}
#esRanking > div > div:first-child {
    position: absolute;
    right: 4px;
    bottom: 4px;
    opacity: .5;
    font-size: .9em;
}
#esRanking > div > div:last-child > span:first-child {
    display: block;
    font-size: 1.1em;
}
#esRanking > div > div:last-child > span:last-child {
    display: block;
    font-size: .9em;
}

#phaseChangeNotice {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--boxShadowWeak);
    backdrop-filter: blur(10px);
    z-index: 999;
}
#phaseChangeNotice > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#phaseChangeNotice > div > div{
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: var(--boxBg);
    width: 44em;
    padding: 1em;
    padding-left: 0;
    padding-right: 0;
    border-radius: .5em;
}
#phaseTitle {
    display: block;
    font-size: 3em;
    line-height: 1.1em;
    color: var(--phaseTitle);
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 12px;
}
#phaseText {
    display: block;
    font-size: 1.3em;
    line-height: 1.15em;
    margin-left: .4em;
    margin-right: .4em;
    margin-bottom: 12px;
}

#notificationsBox {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: grid;
    grid-template-columns: auto;
    gap: .2em;
    max-width: 75vw;
    z-index: 1000;
}
.notifyInfo {
    background-color: var(--notiInfo);
    color: var(--textAlt);
    border: 1px solid var(--notiInfoBorder);
    padding-left: .3em;
    padding-right: .5em;
    box-shadow: 0px 0px 10px 0px var(--boxShadowWeak);
    word-break: break-all;
}
.notifyError {
    background-color:var(--notiError);
    color: var(--textAlt);
    border: 1px solid var(--notiErrorBorder);
    padding-left: .3em;
    padding-right: .5em;
    box-shadow: 0px 0px 10px 0px var(--boxShadowWeak); 
    word-break: break-all;
}

#toolBox {
    position: fixed;
    display: inline-block;
    height: 42px;
    border-radius: 21px;
    bottom: 20px;
    left: 20px;
    border: 0;
    z-index: 100;
    background-color: var(--boxBg);
}
#toolBox > button {
    height: 100%;
    min-width: 42px;
    padding-left: .5em;
    padding-right: .5em;
    border: none;
    background-color: var(--boxBg);
    position: relative;
}
#toolBox > button:first-child {
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
}
#toolBox > button:last-child {
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
}
#toolBox > button:hover {
    background-color: rgb(235, 235, 235);
}
#toolBox > button:focus {
    background-color: rgb(224, 224, 224);
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    z-index: 101;
}
#toolBox > button:focus > .toolBoxTool {
    display: block;
}
.toolBoxTool {
    position: absolute;
    display: none;
    max-height: calc(100vh - 150px);
    overflow-x: auto;
    bottom: 42px;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: var(--boxBg);
    left: 0;
    padding: 5px;
    min-width: 10em;
    max-width: 85vw;
}
.toolBoxTool > .toolBtn {
    cursor: pointer;
    text-align: left;
    border-radius: .25em;
    padding-left: .3em;
    padding-right: .3em;
}
.toolBoxTool > .toolBtn:hover {
    background-color: rgba(134, 134, 134, 0.452);
    cursor: pointer;
}
.toolBoxTool > .toolBtn:active {
    background-color: rgba(95, 95, 95, 0.746);
    cursor: pointer;
}

@media (max-width: 75em) {

    #gameScr > div {
        display: grid;
        grid-template-columns: auto;
        min-height: 100%;
        align-content: start;
    }
    
    #gameInfoBox {
        grid-column: 1;
        grid-row: 1;
        height: 42vh;
    }
    
    #gameRightBox {
        grid-column: 1;
        grid-row: 2;
    }

    #gameRightBox > div {
        max-width: 97vw !important;
        margin: 0 auto !important;
    }

    #gameRoundStatsBox {
        width: 100%;
    }
    #gameRoundStatsBox > div {
        grid-template-columns: auto;
    }

    .grspLeft {
        margin-top: 0;
        border-top-right-radius: 0em;
        border-top-left-radius: 0em;
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
    }

    .grspTop {
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0em;
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
    }

    .grspName {
        display: inline-block;
    }

    .grspNameImp {
        display: inline-block;
    }

    .grspPoints {
        display: inline-block;
        margin-left: .2em;
        font-size: .8em;
    }
}

@media (max-width: 38em) {
    * {
        font-size: 103%;
    }
    #gameInfoBox {
        grid-column: 1;
        grid-row: 1;
        height: 36vh;
    }
    #gameStateTitle {
        font-size: 2em;
    }
    #gameStateSubtitle{
        font-size: 1.2em;
    }
    .gvcImposter > div {
        grid-template-columns: auto;
    }
    .evb {
        min-height: 2.2em;
    }
    .evb:first-child {
        border-radius: 0;
        border-top-left-radius: .3em;
        border-top-right-radius: .3em;
    }
    .evb:last-child {
        border-radius: 0;
        border-bottom-right-radius: .3em;
        border-bottom-left-radius: .3em;
    }
    .evb > span {
        line-height: 1em;
        display: unset; 
    }
    #esPodium {
        grid-template-columns: auto;
    }
    #esTitle {
        font-size: 2.4em;
    }
}

.fastDownSwoosh {
    animation-name: downSwoosh;
    animation-duration: .16s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.downSwoosh {
    animation-name: downSwoosh;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes downSwoosh {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.closeZoom {
    animation-name: closeZoom;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes closeZoom {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.95);
        opacity: 0;
    }
}

.openZoom {
    animation-name: openZoom;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes openZoom {
    0% {
        transform: scale(.95);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.slowFadeOut {
    animation-name: fadeOut;
    animation-duration: .9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeFlash {
    animation-name: fadeFlash;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes fadeFlash {
    0% {
        opacity: 1;
    }
    36% {
        opacity: 0;
    }
    64% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion) {
    * {
        animation-name: unset !important; 
        opacity: 1 !important;
        transition: 0s !important;
    } 
}

/* 
@media (prefers-color-scheme: dark) {
* {
    color: #eee;
}

input {
    background-color: rgb(119, 119, 119);
    border: 1px solid rgb(56, 56, 56);
}

::placeholder {
    color: rgb(189, 189, 189);
}

button {
    background-color: rgb(92, 92, 92);
    color: rgb(214, 214, 214);
    border: 1px solid rgb(70, 70, 70);
}

#joinScr {
    background-color: rgb(34, 34, 34);
}

#joinScrTopBox{
    background-color: rgb(58, 58, 58);
    color: rgb(0, 0, 0);
}

#joinFormButton {
    background-color: var(--bigBtnBg);
    color: var(--bigBtnText);
    border: 1px solid var(--bigBtnBorder);
}

#joinFormButton:hover {
    background-color: var(--bigBtnBgH);
}

#joinFormButton:active {
    background-color: var(--bigBtnBgA);
}

#joinFormName {
    border: 1px solid var(--bigBtnBorder);
}

#startReady {
    background-color: var(--bigBtnBg);
    color: var(--bigBtnText);
    border: 1px solid var(--bigBtnBorder);
}

#startReady:hover {
    background-color: var(--bigBtnBgH);
}

#startReady:active {
    background-color: var(--bigBtnBgA);
}

#startProportion {
    color: white;
}

.startReadyCaption {
    color: rgb(133, 133, 133);
    border-bottom: 1px solid rgb(93, 93, 93);
}

.startReadyPlayer > div {
    background-color: var(--playerReady);
}

.startNotReadyPlayer > div {
    background-color: var(--playerNotReady);
}

#gameScr {
    background-color: rgb(46, 46, 46);
}

#gameInfoBox {
    background-color: #1f4e7aff;
    color: white;
}

#gamePlayersBox > div.gamePlayerBoxTitle {
    color: rgb(136, 136, 136);
    border-bottom: 1px solid rgb(92, 92, 92);
}

#gamePlayersBox > div > div::before {
    background-color: rgb(78, 78, 78);
}

#gamePlayersBox > div > div.gamePlayerActive {
    text-shadow: rgb(132 185 255) 0px 0 4px;
}

#gameVoteImposterBox > button {
    border-color: #4a484d;
    background-color: #6b646e;
}
#gameVoteImposterBox > button:hover {
    background-color: #8e8594;
}
#gameVoteImposterBox > button:focus {
    box-shadow: 0em 0em 0em .1em #342547;
}
#gameVoteImposterBox > button:active {
    background-color: #453f47;
}
#gameVoteImposterBox > button.voted {
    border-color: #2b292e;
    background-color: #693a9e;
    color: #fff;
}
#gameVoteImposterBox > button.voted:hover {
    background-color: #8146c5;
}
#gameVoteImposterBox > button.voted:active {
    background-color: #512a7e;
}

.gameGreyLineTitle {
    color: rgb(136, 136, 136);
    border-bottom: 1px solid rgb(92, 92, 92);    
}

.gvcImposter {
    background-color: rgb(85, 85, 85);
}

.grspTop{
    background-color: rgb(85, 85, 85);
    box-shadow: 0 0 .1em var(--greyBorder);
}

.grspLeft {
    box-shadow: 0 0 .1em var(--greyBorder);
    background-color: rgb(85, 85, 85);
}

.grspName {
    color: white;
}

.grspName > * {
    color: rgb(114, 145, 236);
    text-shadow: 0px 0px 8px royalblue;
}

.grspNameImp {
    color: white;
}

.grspNameImp > * {
    color: rgb(255, 105, 51);
    text-shadow: 0px 0px 8px orangered;
}

.grspCorrect {
    background-color: #237e53;
    color: #fff;
    border: 1px solid var(--boxShadowSemiweak);
}

.grspIncorrect{
    background-color: #a13711;
    color: #fff;
    border: 1px solid var(--boxShadowSemiweak);
}

.grspGold {
    background-color: #546e59;
    color: rgb(255, 255, 255);
    border: 1px solid var(--boxShadowSemiweak);
}

.grspSilver {
    background-color: #506854;
    color: rgb(255, 255, 255);
    border: 1px solid var(--boxShadowSemiweak);
}

.grspBronze {
    background-color: #757457;
    color: rgb(255, 255, 255);
    border: 1px solid var(--boxShadowSemiweak);
}

.grsp4th {
    background-color: #746450;
    color: rgb(255, 255, 255);
    border: 1px solid var(--boxShadowSemiweak);
}

.grsp5th {
    background-color: #6d4647;
    color: rgb(255, 255, 255);
    border: 1px solid var(--boxShadowSemiweak);
}

span.grspPoint {
    background-color: #f7ff80;
    border: 1px solid black;
}

#phaseChangeNotice > div > div{
    background-color: rgb(31, 31, 31);
}

#phaseTitle {
    color: rgb(41, 97, 200);
}

#toolBox {
    background-color: rgba(73, 73, 73, 0.9);
}
#toolBox > button {
    background-color: #00000000;
}
#toolBox > button:hover {
    background-color: rgb(107, 107, 107);
}
#toolBox > button:focus {
    background-color: rgb(107, 107, 107);
}
.toolBoxTool {
    background-color: rgb(107, 107, 107);
}
} */
